<div data-testid="chat-line" class="lens-chat-line">
  <span data-testid="chat-line-nick" class="lens-chat-nick">{{ msg.nick }}</span>
  <span data-testid="chat-line-text" class="lens-chat-text">{{ msg.text }}</span>
</div>
